@{
    ViewBag.Title = "person.NET";
}
<link rel="stylesheet" type="text/css" href="~/css/StyleSheet1.css">
<div class="card">
    <div id="divBusca">
        <input type="text" placeholder="Buscar..." />
        <button class="btnBusca">Buscar</button>
    </div>
</div>