@{
    ViewBag.Title = "person.NET";
}
<link rel="stylesheet" type="text/css" href="~/css/StyleSheet1.css">
<div class="card">
    <div id="divBusca">
        <input id="name" type="text" placeholder="Buscar..." />
        <button id="pesquisar" class="btnBusca">Buscar</button>
    </div>
</div>
<div class="row"> @*adicionar a classe do css correta*@
    <div id="resultados"></div>
</div>

@section Scripts{

    <script>
        $(function () {
            $("#pesquisar").on("click", function () {

                var search = {
                    Name: $("#name").val()
                };

                $.getJSON("/MainPage/Search", search, function (data) {

                    var resultados = $("#resultados");
                    resultados.empty();

                    if (data.length == 0) {
                        resultados.append('<div class="alert alert-warning">Não há resultados.</div>'); // colocar classe css correta
                        return false;
                    }

                    for (var i = 0; i < data.length; i++) {

                        resultados.append('<div class="card"><h4><b>' + data[i].Name + '</div>')

                    }

                })

            })

        })


    </script>    
    
}