@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "TB_Video", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <input type="file" name="file" value="Selecionar Arquivo" accept="video/*"/>
    <span>Título</span>
    <input type="text" name="title" id="title" />
    <input type="submit" value="Fazer Upload" />

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}