@{
    ViewBag.Title = "Postar Foto";
}

<h2>Postar Foto</h2>

@using (Html.BeginForm("Create", "TB_Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <input type="file" name="file" value="Selecionar Arquivo" accept="image/*"/>
    <span>Título</span>
    <input type="text" name="title" id="title" />
    <input type="submit" value="Fazer Upload" />

}
<div>
    @Html.ActionLink("Voltar à Página Principal", "Index", "MainPage")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}