@{
    ViewBag.Title = "person.NET";
}
<link rel="stylesheet" type="text/css" href="/Views/css/StyleSheet1.css">
<div class="card">
    <div class="card-logo">
        <img src="/Views/img/Fundo.png" alt="Person.NET" id="logo">
    </div>
    <br>
    <p>@ViewBag.Message</p>
    <button id="login" onclick="location.href = '../TB_User/Login';" class="btn-primary">Login</button> <br><br>
    <button onclick="location.href = '../TB_User/Create';" class="btn-primary">Cadastrar</button>
    <script>

    </script>
</div>