@{
    ViewBag.Title = "person.NET";
}
<link rel="stylesheet" type="text/css" href="~/css/StyleSheet1.css">
<div class="card">
    <br>
    <p>@ViewBag.Message</p>
    <button id="login" onclick="location.href = '../TB_User/Login';" class="btn-primary">Login</button> <br><br>
    <button onclick="location.href = '../TB_User/Create';" class="btn-primary">Cadastrar</button>
    <script>

    </script>
</div>