@{
    ViewBag.Title = "person.NET";
}
<div class="card" style="border-color: #FFFFFF;">
    <br>
    <h2 style="text-align: center;">Entre na rede social do momento.</h2>
    <img src="~/img/social.jpg" style="margin-left: 25%; margin-right: 50%;"/>
</div>